<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
</head>
<body>
<!-- Image and text -->
<center>
    <nav id="topMenu">
        <ul>
            <li class="topMenuLi">
                <a class="menuLink" href="{{ url_for('main_page') }}">HOME</a>
                <ul class="submenu">
                    {% if session.logged_in %}
                        <li><a href="{{ url_for('check_myinfo') }}" class="submenuLink longLink">내정보확인</a></li>
                        <li><a href="{{ url_for('logout') }}" class="submenuLink longLink">로그아웃</a></li>
                        <li><a href="{{ url_for('check_mypost') }}" class="submenuLink longLink">내글확인</a></li>
                        {% if auth %}
                            <li><a href="{{ url_for('admin_page') }}" class="submenuLink longLink">관리자페이지</a></li>
                        {% endif%}
                    {% else %}
                        <li><a href="{{ url_for('register') }}" class="submenuLink longLink">회원가입</a></li>
                        <li><a href="{{ url_for('login') }}" class="submenuLink longLink">로그인</a></li>
                        <li><a href="{{ url_for('main_page') }}" class="submenuLink longLink">비밀번호찾기</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="#">Search</a>
                <ul class="submenu">
                     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <!------ Include the above in your HEAD tag ---------->
                     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <form action="/herehere" class="card card-sm" method="post">
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-search h4 text-body"></i>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless" name ="search" type="search" placeholder="Search topics or keywords">
                                        </div>
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
                    </div>
                </ul>
            </li>
            {% for listValue in list %}
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="{{ url_for('board_open', board_name=listValue[1]) }}">{{ listValue[1] }}</a>
            {% endfor %}>
        </ul>
    </nav>
</center>
{% for message in get_flashed_messages() %}
      <br/>
      <div class="alert alert-info alert-dismissable">
        <a herf="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        {{ message }}
      </div>
{% endfor %}
<br>
<br>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Hi There</td>
            <td>KyuHan</td>
            <td>2018.11.05</td>
        </tr>
        <tr>
            <td>2</td>
            <td>So Boring</td>
            <td>KyuHan</td>
            <td>2018.11.06</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Wait there</td>
            <td>KyuHan</td>
            <td>2018.11.07</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <button class="btn btn-outline-primary float-right">Post</button>

    <div class="text">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min,js"></script>
<script type="text/javascript" src=" {{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>