<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/noticeboard.css') }}">
</head>
<body>
    <center>
    <nav id="topMenu">
        <ul>
            <li class="topMenuLi">
                <a class="menuLink" href="{{ url_for('register') }}">HOME</a>
                <ul class="submenu">
                    {% if session.logged_in %}
                    <li><a href="{{ url_for('check_myinfo') }}" class="submenuLink longLink">내정보확인</a></li>
                    <li><a href="{{ url_for('logout') }}" class="submenuLink longLink">로그아웃</a></li>
                    <li><a href="{{ url_for('check_mypost') }}" class="submenuLink longLink">내글확인</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}" class="submenuLink longLink">회원가입</a></li>
                    <li><a href="{{ url_for('login') }}" class="submenuLink longLink">로그인</a></li>
                    <li><a href="{{ url_for('main_page') }}" class="submenuLink longLink">비밀번호찾기</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="#">Search</a>
                <ul class="submenu">

                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <!------ Include the above in your HEAD tag ---------->

                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <form action="/herehere" class="card card-sm" method="post">
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-search h4 text-body"></i>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless" name ="search" type="search" placeholder="Search topics or keywords">
                                        </div>
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
                    </div>
                </ul>
            </li>
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="index.html">게시판1</a>
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="index.html">게시판2</a>
            </li>
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="index.html">게시판3</a>
            </li>
        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
      <br/>
      <div class="alert alert-info alert-dismissable">
        <a herf="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        {{ message }}
      </div>
    {% endfor %}

<br>
<br>
<div class="wrap">

    <ul class="board_search">
        <li><input type="radio" name="searchtype" id="search01" checked="checked" /><label for="search01">이름</label></li>
        <li><input type="radio" name="searchtype" id="search02" /><label for="search02">제목</label></li>
        <li><input type="radio" name="searchtype" id="search03" /><label for="search03">내용</label></li>
        <li><input type="text" title="검색어를 입력하세요" /><input type="submit" value="검색" /></li>
    </ul>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="공지사항을 나타낸 표" class="board_list">
        <caption>공지사항</caption>
        <colgroup>
            <col style="width:8%" />
            <col style="width:68" />
            <col style="width:12%" />
            <col style="width:12%" />
        </colgroup>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="notice">
            <td>공지</td>
            <td class="tLeft"><a href="#">원숭이 엉덩이는 빨개</a></td>
            <td>KyuHan</td>
            <td>2015-09-03</td>
        </tr>
        <tr class="notice">
            <td>공지</td>
            <td class="tLeft"><a href="#">빨가면 사과 사과는 맛있어</a></td>
            <td>KyuHan</td>
            <td>2015-09-03</td>
        </tr>
        <tr>
            <td>48</td>
            <td class="tLeft"><a href="#">카카오톡 오픈 등록 친구추가</a></td>
            <td>nunu</td>
            <td>2015-09-03</td>
        </tr>
        <tr>
            <td>47</td>
            <td class="tLeft"><a href="#">아뜨랑스 오픈 등록 친구추가</a></td>
            <td>bebe</td>
            <td>2015-09-01</td>
        </tr>
        <tr>
            <td>46</td>
            <td class="tLeft"><a href="#">아뜨랑스 카카오톡 친구추가</a></td>
            <td>attrangs</td>
            <td>2015-09-03</td>
        </tr>
        <tr>
            <td>45</td>
            <td class="tLeft"><a href="#">아뜨랑스 카카오톡 오픈 등록 친구추가</a></td>
            <td>platinum</td>
            <td>2015-09-03</td>
        </tr>

        </tbody>
    </table>

    <!-- page_navi start -->
    <div class="page_navi">
        <a href="#" class="first">처음</a>
        <a href="#" class="prev">이전</a>
        <span>
			<strong>1</strong>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
		</span>
        <a href="#" class="next">다음</a>
        <a href="#" class="last">마지막</a>
    </div>
    <!-- page_navi end -->


    </div>
</center>

</body>
</html>
