<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Write something else you want</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
       
</head>
<body>
<center>
    <nav id="topMenu">
        <ul>
            <li class="topMenuLi">
                <a class="menuLink" href="{{ url_for('main_page') }}">HOME</a>
                <ul class="submenu">
                    {% if session.logged_in %}
                        <li><a href="{{ url_for('check_myinfo') }}" class="submenuLink longLink">내정보확인</a></li>
                        <li><a href="{{ url_for('logout') }}" class="submenuLink longLink">로그아웃</a></li>
                        <li><a href="{{ url_for('check_mypost') }}" class="submenuLink longLink">내글확인</a></li>
                        {% if auth %}
                            <li><a href="{{ url_for('admin_page') }}" class="submenuLink longLink">관리자페이지</a></li>
                        {% endif%}
                    {% else %}
                        <li><a href="{{ url_for('register') }}" class="submenuLink longLink">회원가입</a></li>
                        <li><a href="{{ url_for('login') }}" class="submenuLink longLink">로그인</a></li>
                        <li><a href="{{ url_for('main_page') }}" class="submenuLink longLink">비밀번호찾기</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="#">Search</a>
                <ul class="submenu">

                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
                    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <!------ Include the above in your HEAD tag ---------->

                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <form action="/herehere" class="card card-sm" method="post">
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <i class="fas fa-search h4 text-body"></i>
                                        </div>
                                        <!--end of col-->
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless" name ="search" type="search" placeholder="Search topics or keywords">
                                        </div>
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
                    </div>
                </ul>
            </li>
            {% for listValue in list %}
            <li>|</li>
            <li class="topMenuLi">
                <a class="menuLink" href="{{ url_for('board_open', board_name=listValue[1]) }}">{{ listValue[1] }}</a>
            {% endfor %}
        </ul>
    </nav>


<div class="container">
    <table class="table table-striped">
        <thead>
        <center><h1>글쓰기</h1></center>
        {% for message in get_flashed_messages() %}
      <br/>
      <div class="alert alert-info alert-dismissable">
        <a herf="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        {{ message }}
      </div>
        {% endfor %}
        </thead>
        <tbody>
        <form action="{{ url_for('write_post') }}" method="POST" encType="multiplart/form-data">
            <tr>
                <th>제목: </th>
                <td><input type="text" placeholder="제목을 입력하세요. " name="subject" class="form-control"/></td>
            </tr>
            <tr>
                <th>내용: </th>
                <td><textarea cols="10" rows="20" placeholder="내용을 입력하세요. " name="content" class="form-control"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary float-left pull-right" type="submit">Post</button>


                    <!-- <a class="btn btn-default" onclick="sendData()"> 등록 </a>
                    <a class="btn btn-default" type="reset"> reset </a>
                    <a class="btn btn-default" onclick="javascript:location.href='list.jsp'">글 목록으로...</a> -->
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
</center>
</body>
</html>
